
@keyframes off{
    100%{
          opacity: 0;
          display: none;
        }
}
    

@keyframes rotate1 {
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        
    }
}


@keyframes rotate2 {
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        

    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
       
    }
}


@keyframes rotate3 {
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        
    }

}


@keyframes slide {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}