// variables couleurs

$cl-primary: #9356DC;
$cl-secondary : #FF79DA;
$cl-tertiary : #99E2D0;
$cl-icon: grey;
$cl-bgfooter: #353535;
$cl-white: white;
$cl-bgloc: #EAEAEA;
$cl-bgmenucontainer : #F6F6F6;