h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 10px 0 5px 0;
  color: black;
}

.Location {
  text-align: center;
  padding: 20px;
  background-color: #EAEAEA;
  box-shadow: 4px 4px 10px lightgrey inset;
}
.Location__text {
  font-weight: bolder;
  font-size: 16px;
  margin-left: 15px;
}

.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  background-color: #F6F6F6;
  padding: 20px 0 30px 0;
}
.Intro__title + .Intro__text {
  padding: 10px 20px;
}
.Intro__btn {
  border-radius: 100px;
  width: 200px;
  border: none;
  background: linear-gradient(#9356DC, #FF79DA);
  padding: 15px 20px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  transition-duration: 0.35s;
}
.Intro__btn:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  background: linear-gradient(#9356DC, #FF79DA);
  filter: brightness(1.12);
}

.Demo {
  margin: 50px 0;
}
.Demo__title {
  margin-left: 15px;
}
.Demo__step {
  padding: 25px;
  margin: 15px 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
}
.Demo__number {
  display: inline-block;
  text-align: center;
  border: #9356DC 1px solid;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
  padding-top: 5px;
  position: relative;
  left: -25px;
}
.Demo__text {
  font-weight: bold;
  padding-left: 10px;
  font-size: 14px;
  display: flex;
}
.Demo .fa-solid {
  color: grey;
}

.Resto {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  background-color: #F6F6F6;
}
.Resto__title {
  padding-left: 50px;
}

.Cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Cards__resto {
  border-radius: 20px;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0 5px 15px lightgray;
}
.Cards__resto > img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.Cards__badge {
  background-color: #99E2D0;
  padding: 5px 8px;
  color: #1b6150;
  position: absolute;
  border-radius: 3px;
  right: 20px;
  top: 10px;
}
.Cards__content {
  height: 70px;
  display: flex;
  color: black;
}
.Cards__subtitle {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}
.Cards__heart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Cards__heart > i {
  position: absolute;
  height: 30px;
  width: 30px;
  font-size: 30px;
}
.Cards .h-full {
  opacity: 0;
  transition: all 0.5s linear;
}
.Cards .h-full:hover {
  opacity: 1;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
}

.Footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
.Footer__logo {
  font-family: Shrikhand, "cursive";
  padding: 15px 30px;
}
.Footer__link {
  margin-top: 8px;
  list-style-type: none;
  padding-left: 30px;
}
.Footer__link > i {
  margin-right: 5px;
}
.Footer__link > a {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-family: "Shrikhand", cursive;
}

@keyframes off {
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes rotate1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@keyframes slide {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.Menu__header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Menu__header .fa-arrow-left {
  position: absolute;
  color: black;
  font-size: 25px;
  left: 20px;
  bottom: 25%;
}
.Menu__image {
  object-fit: cover;
  width: 100%;
  height: 275px;
  z-index: 1;
  position: relative;
}
.Menu__container {
  border-radius: 40px 40px 0px 0px;
  z-index: 2;
  position: relative;
  margin-top: -40px;
  background-color: #F6F6F6;
}

.Menu__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 15px;
}
.Menu__title > h2 {
  font-family: "Shrikhand", cursive;
}
.Menu__title .Menu__heart > i {
  position: absolute;
  border: 1px solid red;
  font-size: 20px;
  top: 12px;
}
.Menu__title .h-full {
  opacity: 0;
  transition: all 0.5s linear;
}
.Menu__title .h-full:hover {
  opacity: 1;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
}

.Btn {
  padding: 30px 0;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Btn__co {
  border-radius: 100px;
  width: 200px;
  border: none;
  background: linear-gradient(#9356DC, #FF79DA);
  padding: 15px 20px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  transition-duration: 0.35s;
}
.Btn__co:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  background: linear-gradient(#9356DC, #FF79DA);
  filter: brightness(1.12);
}

#delay-0 {
  animation-delay: 0s;
}

#delay-1 {
  animation-delay: 0.3s;
}

#delay-2 {
  animation-delay: 0.6s;
}

@media (min-width: 768px) {
  .Menu__container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .Footer__container {
    display: flex;
    flex-direction: row-reverse;
  }
  .Footer__links {
    display: flex;
    margin-top: 10px;
  }
  .Footer__link {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .Demo {
    padding: 0 60px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
  }
  .Demo__steps {
    display: flex;
  }
  .Demo__step {
    flex-basis: 31%;
  }
  .one {
    order: 1;
  }
  .two {
    order: 3;
  }
  .three {
    order: 2;
  }
  .four {
    order: 4;
  }
  .Cards {
    height: 600px;
    flex-wrap: wrap;
    align-items: center;
  }
  .Cards__link {
    width: 40%;
  }
  .Resto {
    padding-left: 7%;
    padding-right: 7%;
  }
  .Footer__container {
    display: flex;
    flex-direction: row-reverse;
  }
  .Footer__links {
    display: flex;
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .Demo__steps {
    display: flex;
    flex-wrap: wrap;
  }
  .Demo__step {
    flex-basis: 45%;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.Loader {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  animation: off 3s linear forwards;
}

.circle {
  width: 100px;
  height: 100px;
  border: 0px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
}

.circle:nth-child(1) {
  border-bottom-width: 8px;
  border-color: #9356DC;
  animation: rotate1 2s linear 2;
}

.circle:nth-child(2) {
  border-right-width: 8px;
  border-color: #FF79DA;
  animation: rotate2 2s linear 2;
}

.circle:nth-child(3) {
  border-top-width: 8px;
  border-color: #99E2D0;
  animation: rotate3 2s linear 2;
}

@keyframes off {
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes rotate1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@keyframes slide {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.Meals {
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: slide 2s;
}
.Meals__titles {
  font-size: 16px;
  position: relative;
  padding: 15px 0 5px 0;
}
.Meals__titles::after {
  content: "";
  width: 40px;
  background-color: #99E2D0;
  position: absolute;
  height: 2px;
  bottom: 1px;
  left: 1px;
}
.Meals__descriptions {
  border-radius: 12PX;
  box-shadow: 4px 4px 10px lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
  margin: 0 10px;
  overflow: hidden;
}
.Meals__subtitles {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.Meals__subtitles > p, .Meals h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}
.Meals__prices {
  font-weight: bold;
  margin-top: 20px;
  padding-right: 5px;
}
.Meals__check {
  background-color: #99E2D0;
  height: 69px;
  margin-right: -59px;
  width: 59px;
  transition: margin-right 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Meals__descriptions:hover .Meals__check {
  margin-right: 0;
}
.Meals .fa-circle-check {
  color: white;
  font-size: 25px;
  font-weight: bolder;
  background-color: #99E2D0;
}

/*# sourceMappingURL=style.css.map */
