


@mixin button ($primaire, $secondaire) {
    border-radius: 100px;
    width: 200px;
    border: none;
    background: linear-gradient($primaire,$secondaire);
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
    transition-duration: 0.35s;
}

@mixin btn-hover {
    filter:brightness(1.10);
    box-shadow:0 0 16px rgba(0,0,0,0.5);
}   