@media (min-width:1024px) {
    .Demo__steps{
        border: 1px solid black;
        display: flex; 
    }   
        .Demo__step{
            width: 33%;
        }
    
    
    .Cards{
        flex-wrap: wrap;
        height: 600px; 
    
       &__resto{
        width: 45%;
       }
    }    
}
    
