@import "buttons";
@import "effets";
@import "function";
@import "media";
@import "mixins";
@import "variables";



* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
