@import "buttons";
@import "effets";
@import "function";
@import "media";
@import "mixins";
@import "variables";



* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}


h1 {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    padding: 10px 0 5px 0;
   
}

.Location {
    text-align: center;
    padding: 20px;
    background-color:#EAEAEA;
    box-shadow: 4px 4px 10px lightgrey inset;
    &__text {
        font-weight:bolder;
        font-size: 16px;
        margin-left: 15px;
    }
}


.Intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 120px 0;
    gap:30px;  
    text-align: center;
    &__title + &__text{
        padding: 10px 20px;   
    }
        &__btn{
            @include button (#9356DC,#FF79DA);
        }
}

.Demo{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
    
    &__title{
        margin-left: 20px;
    }
        &__step{
            padding: 20px;
            border-radius: 20px;
            margin: 10px 5px 30px 10px;
            @include shadow;
        }
            &__number{
                @include number;
            }
                &__text{
                    font-weight: bold;
                    padding-left: 10px;
                }
}


.fa-solid{
    color: grey;
}