@import "../utils/mixins";

@media (min-width:1024px) {
  
    .Demo{
        @include paddingDesktop;
        padding-left: 10%;
        padding-right: 10%;
        @include column;
        &__steps{
            display: flex;
        }  
            &__step{
                flex-basis: 31%;

            }
    }
    
    .one{
        order: 1;
    }
   
    .two {
        order: 3;
    }

    .three{
        order: 2;

    }
    .four{
        order: 4;
    }

    .Cards{
        height: 600px;
        flex-wrap: wrap;
        align-items: center;
    }
    .Cards__link{
        width: 40%; 
       
    }

    .Resto{
        padding-left: 7%;
        padding-right: 7%;
    }


    .Footer{
        &__container{
            display: flex;
            flex-direction: row-reverse;
        }
                &__links{
                    display: flex;
                    margin-top: 10px;
                }
    }

}

@media (min-width:768px) and (max-width:1023px){

    .Demo__steps{
         display: flex;
         flex-wrap: wrap;
    }
    .Demo__step{
        flex-basis:45% ;
    }
}


