@import "../utils/mixins";


@media (min-width:1024px) {
  
    .Demo{
        @include paddingDesktop;
        padding-left: 13%;
        padding-right: 13%;
        &__steps{
            display: flex;
        }   
            &__step{
                width: 33%;

            }
        }
        
    .one{
        order: 1;
    }
   
    .two {
        order: 3;
    }

    .three{
        order: 2;

    }
    .four{
        order: 4;
    }

    .Cards{
        height: 600px;
        flex-wrap: wrap;
        align-items: center;
    }
    .Cards__link{
        width: 40%;
       
    }

    .Resto,{
        padding-left: 10%;
        padding-right: 10%;
    }


    .Footer{
        &__container{
            display: flex;
            flex-direction: row-reverse;
        }
                &__links{
                    display: flex;
                    margin-top: 10px;
                }
    }

}