@use "sass:math";
@import "../pages/general_setting";
@import "../components/headermenu";
@import "../components/buttons";
@import "../utils/animations";



.Menu{

    &__header{
        @include headermenu;

        .fa-arrow-left {
            @include back;
        }
    }
            &__image{
                object-fit: cover;
                width: 100%;
                height: 275px;
                z-index: 1;
                position: relative;
            }   

                &__container{
                    border-radius: 40px 40px 0px 0px;
                    z-index: 2;
                    position: relative;
                    margin-top: -40px;
                    background-color: $cl-bgmenucontainer;
                
                }
                
}

.Menu__title{
    @include flex-center;
    height: 50px;
    gap: 15px;

    & > h2{
        font-family: 'Shrikhand', cursive;
    }
    
        .Menu__heart > i{
            position: absolute;
            border: 1px solid red;
            font-size: 20px;
            top: 12px;
           
            
        
        }

            .h-full{
                @include heart;  
                &:hover{
                    @include heart-hover;
                }
            }    
    }    


.Btn{
    padding: 30px 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .Btn__co{
        @include button (#9356DC,#FF79DA);
        
        &:hover{
            @include btn-hover;
        }
    }

    @for $i from 0 to 3 {
        #delay-#{$i} {
            animation-delay: $i * 0.3s;
        }
    }


    @media (min-width: 768px) {
        .Menu__container{
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            
        }
        .Footer{
            &__container{
                display: flex;
                flex-direction: row-reverse;

            }
                    &__links{
                        display: flex;
                        margin-top: 10px;
                    }
                        &__link{
                            font-size: 12px;
                        }
        }
            

}