
@import "../utils/mixins";
@import "../components/borderstep";
@import "../utils/variables";


.Demo{
    margin: 50px 0; 
    &__title{
        margin-left: 15px;
    }
        &__step{
            @include borderstep;   
        }
        &__step:hover i{
            color: $cl-primary;
        }
            &__number{
                @include number;
            }
                &__text{
                    font-weight: bold;
                    padding-left: 10px;
                    font-size: 15px;
                    display: flex;
                }
                    .fa-solid{
                        color: $cl-icon;
                    }

}




