
@import "../utils/mixins";
@import "../components/borderstep";


.Demo{
    margin-bottom: 50px;
    
    &__title{
        margin-left: 20px;
    }
        &__step{
            @include borderstep;
        }
            &__number{
                @include number;
            }
                &__text{
                    font-weight: bold;
                    padding-left: 10px;
                }
                    .fa-solid{
                        color: $cl-icon;
                    }
}

