// footer mobile 

.Footer {
    background-color: $cl-bgfooter;
    color:$cl-white;
    @include column;
    padding:30px 0;
    &__logo{
        font-family: Shrikhand,"cursive";
        padding: 15px 30px;
    }    
        &__link{
            margin-top :8px;
            list-style-type: none;
            padding-left: 30px;
        }
            &__link > i {
                margin-right: 5px;   
            }
                &__link > a {
                    color: $cl-white;
                }
}

