@import "../components/buttons";
@import "../utils/mixins";


.Intro {
    @include column;
    @include flex-center;
    gap:30px;  
    text-align: center;
    background-color: $cl-bgmenucontainer;
    padding: 20px 0 $padding-var 0;
    &__title + &__text{
        padding: 10px 20px;   
    }
        &__btn{ 
            @include button ($cl-primary, $cl-secondary);
        }
            &__btn:hover{
                @include btn-hover;
            }
            
}